
.thename{
         display:form;
         border:2px solid  #666666;
         width: 400px;
         background-color:#fffffa;
         margin-left:30%;
         text-align:center; 
         margin-top:10%;
         border-spacing:0px;/*cellspacing:poor IE support for  this*/
        /* border-collapse:separate;*/
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
         border-radius: 20px;
         border: 1px solid;
    }




